<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChromeBrowser" value="Chrome" />
		<add key="MaximizeBrowserSize" value="--start-maximaized"/>
		<add key="XMLFileConnectionString" value="Microsoft.VisualStudio.TestTools.DataSource.XML"/>
		<add key="XMLFilePath" value="DataClass\data.xml"/>
	</appSettings>
</configuration>