<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ChromeBrowser" value="Chrome" />
		<add key="MaximizeBrowserSize" value="--start-maximized"/>
    <add key="MainUrl" value="https://opensource-demo.orangehrmlive.com/index.php/auth/login"/>
	</appSettings>
</configuration>