<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrentBrowser" value="FireFox" />
		<add key="Chrome" value="--start-maximized,--incognito"/>
    <add key="FireFox" value=""/>
		<add key="MainUrl" value="https://opensource-demo.orangehrmlive.com/index.php/auth/login"/>
	</appSettings>
</configuration>
